body {
  width: 100%;
  height: 100%;
  margin: auto;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-align: center;
  padding: 10px;
  color: pink;
}

figcaption {
  text-align: center;
  font-size: -2
}
#featured-property {
  width: 800px;
  text-align: center;
}

#details {
  display: block;
}
